body {
    margin: 0;
}

#main-Head {
    background-color: #FFC794;
}

#main-Head > #main-Header-Container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#loginBtn{
    background-color: #5052f0;
    color: aliceblue;
    margin: 1rem;
}

h1{
    margin: 0;
}

#main-Container {
    background-color:#FFF7B0;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
}

#main-Container > header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    background-color: orange;
}

#content-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    /* border: 2px solid black; */
    padding: 20px;
}


#user-img{
    max-width: 150px;
    border-radius: 10rem;
    margin: 0.3rem;
}

#user-cards{
    border: 1px solid black;
    text-align: center;
    box-shadow: 5px 5px 5px 1px rgb(107, 107, 107);
    background-color: #FFC794;
}

#postEl{
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    width: 60rem;
    text-align: center;
    box-shadow: 5px 5px 5px 1px rgb(144, 143, 143);
}

button:hover {
    cursor: pointer;
  }