@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins&family=Walter+Turncoat&display=swap');


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#main-Head {
    background-color: #FFC794;
}

#main-Head > #main-Header-Container {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;
}

#site-name {
    font-family: 'Walter Turncoat', cursive;
}

#loginBtn{
    background-color: #5052f0;
    color: aliceblue;
    margin: 1rem;
}

h1{
    margin: 0;
}

#main-Container {
    background-color:#FFF7B0;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
}

#main-Container > header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    background-color: orange;
}

#content-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    /* border: 2px solid black; */
    padding: 20px;
}


#user-img{
    max-width: 150px;
    border-radius: 10rem;
    margin: 0.3rem;
}

#user-cards{
    border: 1px solid black;
    text-align: center;
    box-shadow: 5px 5px 5px 1px rgb(107, 107, 107);
    background-color: #FFC794;
}

#postEl{
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    width: 60rem;
    text-align: center;
    box-shadow: 5px 5px 5px 1px rgb(144, 143, 143);
}

button:hover {
    cursor: pointer;
}

#header-Logout-Btn {
    width: 100px;
    height: 26px;
    border-radius: 15px;
    outline: none;
    border: none;
    transition: 0.3s;
}

#header-Logout-Btn:hover {
    scale: 110%;
}







































#loginBox-Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 800px;
}

#login-Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    min-height: 400px;
    gap: 20px;
    border: solid black;
    border-radius: 5px;
    padding: 20px;
}

#login-Text, #create-Account-Text {
    font-size: 50px;
    margin-bottom: 20px;
}

#login-Email-Input, #login-Password-Input, #username-Input, #email-Input, #password-Input {
    width: 250px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

#login-Btn, #create-Account-Form-Btn, #create-Account-Btn {
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 10px;
}

#account-Not-Created, #message {
    font-size: 22px;
    color: rgb(131, 0, 0);

#site-name:hover {
    cursor: pointer;
}